<div class="feed-container">
  <div *ngIf="!facebookUser && !instagramUser">
    <h2>Please log in to view your feeds</h2>
  </div>

  <div class="facebook-feed" *ngIf="facebookUser">
    <h2><i class="fab fa-facebook-square"></i> Facebook Feed</h2>
    <div *ngFor="let post of facebookPosts" class="feed-card">
      <p>{{ post.message }}</p>

      <!-- Displaying multiple media items in a carousel -->
      <div *ngIf="post.attachments">
        <carousel>
          <ng-container *ngFor="let attachment of post.attachments.data">
            <ng-container *ngIf="attachment.type === 'photo' || attachment.type === 'album'">
              <slide *ngIf="attachment.media.image">
                <img [src]="attachment.media.image.src" alt="Facebook post image">
              </slide>
              <ng-container *ngIf="attachment.subattachments">
                <slide *ngFor="let subattachment of attachment.subattachments.data">
                  <img [src]="subattachment.media.image.src" alt="Facebook post image">
                </slide>
              </ng-container>
            </ng-container>
          </ng-container>
        </carousel>
      </div>
    </div>
  </div>

  <div class="instagram-feed" *ngIf="instagramUser">
    <h2><i class="fab fa-instagram"></i> Instagram Feed</h2>
    <div *ngFor="let post of instagramPosts" class="feed-card">
      <p>{{ post.caption }}</p>
      <carousel *ngIf="post.media_type === 'CAROUSEL_ALBUM'">
        <slide *ngFor="let media of post.media_children.data">
          <img [src]="media.media_url" alt="Instagram post image">
        </slide>
      </carousel>
      <img *ngIf="post.media_type === 'IMAGE'" [src]="post.media_url" alt="Instagram post image">
      <div *ngIf="post.media_type === 'VIDEO'" class="video-container">
        <video controls [src]="post.media_url"></video>
      </div>
    </div>
  </div>
</div>
